
.modalHeader {
	display: flex;
}

.TokyoImage {
	width: 75px;
	height: 75px;
	background-image: url('../assets/220px-KaneijiPagoda1270.jpg');
	background-size: 100% 100%;
}

.KyotoImage {
	width: 75px;
	height: 75px;
	background-image: url('../assets/goldshrine.jpg');
	background-size: 100% 100%;
}

.HiroshimaImage {
	width: 75px;
	height: 75px;
	background-image: url('../assets/peacepark.jpg');
	background-size: 100% 100%;
}